.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00b894;
    width: 100%;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title a {
    color: #0070f3;
    text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
    text-decoration: underline;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

.description {
    line-height: 1.5;
    font-size: 1.5rem;
}

.code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
        monospace;
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 3rem;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}

.header {
    color: #fff;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
}

@media (min-width: 768px) {
    .header {
        color: #fff;
        font-size: 85px;
        text-transform: uppercase;
    }
}

.loading {
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
}

.input {
    appearance: none;
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    max-width: 600px;
    height: 50px;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    line-height: 0;
    color: #fff;
    text-align: center;
}

@media (min-width: 768px) {
    .input {
        font-size: 50px;
        height: 100px;
    }
}

.input:focus {
    outline: none;
}

.select {
    border: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 80%;
    max-width: 600px;
    height: 50px;
    font-size: 20px;
    line-height: 0;
    color: #fff;
    text-align: center;
}

.select::placeholder {
    color: #fff;
}

@media (min-width: 768px) {
    .select {
        height: 100px;
        font-size: 50px;
    }
}

.select option {
    color: #000;
}

.spinner {
    text-align: center;
    height: 200px;
    overflow: hidden;
}

.option {
    color: #fff;
}

.button {
    appearance: none;
    background-color: #fdcb6e;
    border: 0;
    padding: 10px 20px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    font-size: 15px;
}

@media (min-width: 768px) {
    .button {
        padding: 30px 50px;
        font-size: 40px;
    }
}

.input::placeholder {
    color: #fff;
}
